<section class="grid grid-cols-12 gap-12 w-full pt-12">
  {
    Astro.slots.has("before") && (
      <div class="col-span-12">
        <slot name="before" />
      </div>
    )
  }
  <div class="col-span-12 md:col-span-6 md:pt-12"><slot name="left" /></div>
  <div
    class="col-span-12 md:col-span-6 md:pt-12 grid grid-flow-row gap-16 md:gap-0"
  >
    <slot name="right" />
  </div>
</section>
