---
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import { Image } from "astro:assets";
import Logo from "../images/logo.svg";
import { getEntry } from "astro:content";
const entry = await getEntry("home", "intro");
const { Content } = await entry.render();
---

<Layout title="Expect Creative Outcomes">
	<main class="flex justify-center items-center h-full mx-8">
		<div>
			<Image
				src={Logo}
				alt="Logo for Creative Outcomes"
				class="md:max-w-[66%] mb-6 -translate-x-1 md:-translate-x-2"
			/>
			<Prose><Content /></Prose>
		</div>
	</main>
</Layout>
