---
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import { getEntry } from "astro:content";
const entry = await getEntry("home", "intro");
const { Content } = await entry.render();
---

<Layout title="Expect Creative Outcomes">
	<main class="md:flex justify-center items-center md:h-full">
		<div class="md:max-w-[70%]">
			<Prose><Content /></Prose>
		</div>
		<div>
			<a
				href="/portfolio"
				class="bg-white border border-gray-400 p-4 text-right rounded block mt-4 transition-shadow shadow-sm hover:shadow-lg"
			>
				Portfolio →
			</a>
		</div>
	</main>
</Layout>
