---
const { figures } = Astro.props;
---

<section class="overflow-none col-span-full figures w-full bg-black/20 my-8 not-prose border-y-[2rem] border-lime-700/50">
  <div class={`grid gap-8 py-8 pb-16 ${figures.length === 1 ? "mx-auto" : "grid-flow-col auto-cols-max overflow-x-scroll lg:pl-[10vw]"}`}>
    {
      figures.map((figure, index) => (
        <figure class="mx-auto">
          {figure.srcType === "image" && <img src={figure.src} alt={figure.alt || figure.caption} class="max-h-[90vh]" />}
          {figure.srcType === "video" && (
            <video alt={figure.alt} class="max-h-[80vh] border-4 border-black/70 my-8" controls>
              <source src={figure.src} type="video/mp4" />
            </video>
          )}
          <figcaption class="prose px-8 font-medium text-sm">{figure.caption}</figcaption>
        </figure>
      ))
    }
  </div>
</section>
<style></style>
